<div class="chart-section">
    <p class="chart-title">People Confident They Know What Phishing Looks Like</p>
    <p class="chart-subhead">Most people feel confident they can differentiate between a phishing email and a genuine one. The Japanese seem a little more realistic about their capabilities.</p>
    <div class="chart">
      <img src = "images/know-phishing.png">
    </div>
    <p class="chart-source">Source: Webroot, "Hook, Line, and Sinker" 2019.</p>
  </div>