<div class="chart-section">
    <p class="chart-title">What To Do After a Breach</p>
    <p class="chart-subhead">Most people order new cards or change their passwords after a breach, but very few notify government regulators or law enforcement. However, the fact that nearly a third don't change passwords is a problem.</p>
    <div class="chart">
      <img src = "images/what-people-do.png">
    </div>
    <p class="chart-source">Source: Webroot, "Hook, Line, and Sinker" 2019.</p>
  </div>