<div class="chart-section">
    <p class="chart-title">What Does Phishing Look Like?</p>
    <p class="chart-subhead">Most people know about phishing emails, but not everyone seem to realize that phishing can be a video chat message, a phone call, or even a piece of postal mail.</p>
    <div class="chart">
      <img src = "images/what-phish.png">
    </div>
    <p class="chart-source">Source: Webroot, "Hook, Line, and Sinker" 2019.</p>
  </div>