<div class="story-body scrollytelling image-stepper">
    <h2>What Phishing Attacks Look Like</h2>
    <p>There is a tendency to blame the victim for falling for an online scam or a phishing message. The fact is, most of these attacks 
        are not poorly-written missives promising a large monetary windfall or some kind of a prize. Phishing attacks come in many forms 
        and use different types of lures. The goal is to get the victim to download something or click a link. Even people who consider 
        themselves savvy can fall for an attack.
    </p>

    <div id="chart-04" class="chart">
      <img src="images/know-phishing.png" id="aware">
      <img src="images/click-links.png" id="click">
      <img src="images/get-attention.png" id="sms">
      <img src="images/wiring-money.png" id="bec">
      <img src="images/top-most-spoofed-brands.png" id="brands">
      <img src="images/what-phish.png" id="types">
    </div>

    <div class="steps">
        <div class="step" data-show-selector='#aware'>
            <h2>Calvin Has a Hard Day</h2>
            <p>Calvin Harris considers himself pretty savvy about technology. He reads cybersecurity and privacy news. His company has
                mandatory security awareness training for everyone. He pays attention when he is online.
            </p>
        </div>
        <div class="step" data-show-selector='#aware'>
            <p>His day starts with him sleeping through the alarm and his irate boss calling him on the phone. There is a team meeting 
                in his office to get ready for a big department-wise presentation that afternoon and Calvin isn't there. Calvin apologizes
                as he rushes to get ready and assures his boss he is on the way and that the presentation wouldn't be a problem.
            </p>
        </div>
        <div class="step" data-show-selector="#click">
            <p>
                While on the way in, Calvin checks his email messages and sees a series of irate messages from his teammates and boss. When
                he gets to his desk, he notices an email with a PowerPoint presentation and a short message, "For your review." He doesn't
                recognize the name of the sender, but he remembers that a co-worker has a new executive assistant. He tries to open the 
                file but it is blank. He makes a note to ask for the presentation later, but he now needs to get to his boss's office.
            </p>
        </div>
        <div class="step" data-show-selector="#sms">
            <p>At the department meeting, the presentation was a disaster because Calvin wasn't prepared. After the presentation, Calvin
                felt his phone buzz, indicating there was a text message. He checked quickly under the table, and 
                saw a message from HSBC saying, "We have identified an unusual login attempt on your online banking. Log in via the secure 
                link to avoid account suspension."</p>
            <p>Calvin was concerned, and tapped the link in the message to log in to his account. He 
                didn't see anything wrong and made a mental note to call the bank later to follow up.</p>
        </div>
        <div class="step" data-show-selector='#bec'>
            <p>After the meeting, Calvin felt really guilty about letting his team down. He vowed to do better with the next project. While
            working through the project, he got an email invoice from the agency his team works with occassionally. He uploaded the invoice 
            to the financial application, checked the invoice amount, and approved it for payment.
        </div>

        <div class="step" data-show-selector='#brands'>
            <p>While watching TV, Calvin received an email about a delivery exception from FedEx. He was waiting for new pedals for his 
                electric guitar. When he clicked on the link to find out what went wrong, he saw an invoice from FedEx because he hadn't 
                paid enough for shipping. He immediately got his credit card out and paid the balance. 
            </p>
        </div>
        <div class="step" data-show-selector='#types'>
            <p>Calvin had good intentions but he made a lot of mistakes. The blank PowerPoint presentation was malware which compromised 
                his machine and infected several others on the network. The HSBC alert was fake. By entering the login information to 
                check his account, he had given the criminals access to his bank account. A week later, he would receive an invoice 
                from the agency and learn that the invoice he had approved was also a phish, and the money had gone to an unknown bank 
                account. And while he normally would have thought twice about the delivery notification, he wasn't at his best that day 
                and he really, really, was looking forward to those guitar pedals. 
            </p>
            <p>Many people don't realize that phishing isn't just about email. They can come in all forms.</p>
        </div>
    </div>
</div>

<script src="scripts/chart-images.js"></script>
