<div class="story-body">
  <p class="body-text"><em>Related Chart: Who Do You Trust?</em>
  <p class="body-text">70 percent of responders on the Pew Research said they would consider doing business with a company over
    security and privacy concerns. That suggests that a company with a breach would find it harder to convince customers to come back, 
    except that doesn't seem to be the case. See how a <a href="trust-who.hbs">breach could impact a company's stock price.</a> 
  </p>
</div>