---
headline: "Phishing Attacks Are Still the Biggest Threats"
subhead: "The biggest danger for being online doesn't come from nation-state actors or crypto-miners. Phishing is a low-skill attack,
and cyber-criminals are really, really, good at it."
published_date: "December 14, 2019"
site: "https://fr48.github.io"
siteName: "The Lede"
url: "https://fr48.github.io/cyber/"
kicker: "cybersecurity"
author:
    name: "Fahmida Y Rashid"
    url: "https://github.com/fr48/"
    twitterHandle: "@fahmiwrite"
analytics": ""
---

{{!< default}}

<div class="story-body">
<p>It's fast becoming old news, with data breach after data breach. Cyber-criminals are tricking users into giving up their passwords via phishing. Companies aren't 
  protecting the information they collect from users, and criminals are taking advantage of the lax protections to steal the information. According to the latest figures
  from Pew Research, most people have been affected by at least one kind of data compromise.
  </p>
  <p><img src="images/compromised.png"></p>
  <p>It is very easy to get into victim-blaming, that the user should have done something differently. Attackers spend time crafting very specific messages designed to 
    trick their victims. Blaming the user for falling for an attack ignores the fact that they are just human.
  </p>
</div>

{{> story/calvinday }}

<div class="story-body">
  <p class="body-text">Falling for a scam, or getting compromised doesn't automatically mean bad things have to happen. Entering username 
    and password into a phishing page doesn't automatically mean losing control of the account. Two-factor authentication, or putting 
    a second layer of authentication after the password which requires something the user has (such as a phone) can stop a lot of phishing 
    attacks.</p>
  <p class="body-text">Recent Google research found that an SMS code sent to a recovery phone number blocked 100 percent of attacks by
    automated bots, 96 percent of bulk phishing attacks (send a general message to a wide group of victims), and 76 percent of targeted 
    attacks (the messages are customized to the victim). The figure for targeted attacks get better with other methods, such as on-device 
    prompts, and hardware keys.
  </p>
  <iframe title="Two-Factor Authentication Blocks Attacks" aria-label="Grouped Column Chart" id="datawrapper-chart-jrGZi" src="//datawrapper.dwcdn.net/jrGZi/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();</script>
  <p>Another good defense is not using the same password across sites. A team of researchers out of Virginia Tech analyzed the passwords for nearly 30 million users and found that 52 percent had reused the password at least once.</p>
</div>

  {{> story/trust-section }}

<div class="story-body">

    <p class="note">All the data files, reports, and code used for analysis (Jupyter Notebook) can be found at the <a href="https://github.com/fr48/cyber">project's repository on GitHub</a>.</p>
</div>

<script src="scripts/scrollytelling.js"></script>
<link rel="stylesheet" type="text/css" href="styles/scrollytelling.css">