---
headline: "American's View of Cybersecurity"
subhead: "Analysis of how practice doesn't match awareness"
published_date: "December 11, 2019"
site: "https://fr48.github.io"
siteName: "The Lede"
url: "https://fr48.github.io/cyber/"
kicker: "cybersecurity"
author:
    name: "Fahmida Y Rashid"
    url: "https://github.com/fr48/"
    twitterHandle: "@fahmiwrite"
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}

<div class="story-body">
<a href="wireframe.hbs">Wireframe</a>
</div>

<div class="story-body">
  <p class="body-text">Putting together the story.</p>
  <ul><li>Intro about breaches</li>
  <li>Talking about password reuse</li>
  <li>Reference what Pew research said about password behavior</li>
  <li>Reference what Pew said about 2fa</li>
  <li>Google said no one is using 2fa</li>
  <li>Why 2fa is powerful</li>
  </ul>
  <p class="body-text">Reusing passwords across multiple account-based services is common. According to a 2018 study of nearly 30 million users and their passwords, password reuse and modifications were common for 52% of users. The same study also found that 30% of the modified passwords and all the reused passwords can be cracked within just 10 guesses. This behavior puts users at risk of being victims of a breach replay attack. Once a threat actor gets hold of spilled credentials or credentials in the wild, they can try to execute a breach replay attack. In this attack, the actor tries out the same credentials on different service accounts to see if there is a match.</p>
</div>

<div class="story-body">
    <p class="note">All the data files and code used for analysis (Jupyter Notebook) can be found at the <a href="https://github.com/fr48/cyber">project's repository on GitHub</a>.</p>
</div>
