---
headline: "Phishing Attacks Are Still the Biggest Threats"
subhead: "The biggest danger for being online doesn't come from nation-state actors or crypto-miners. Phishing is a low-skill attack,
and cyber-criminals are really, really, good at it."
published_date: "December 14, 2019"
site: "https://fr48.github.io"
siteName: "The Lede"
url: "https://fr48.github.io/cyber/"
kicker: "cybersecurity"
author:
    name: "Fahmida Y Rashid"
    url: "https://github.com/fr48/"
    twitterHandle: "@fahmiwrite"
analytics": ""
---

{{!< default}}

<div class="story-body">
<p>Intro, password reuse , 2fa </p>
</div>

{{> story/calvinday }}

<div class="story-body">
  <p class="body-text">Falling for a scam, or getting compromised doesn't automatically mean bad things have to happen. Entering username 
    and password into a phishing page doesn't automatically mean losing control of the account. Two-factor authentication, or putting 
    a second layer of authentication after the password which requires something the user has (such as a phone) can stop a lot of phishing 
    attacks.</p>
  <p class="body-text">Recent Google research found that an SMS code sent to a recovery phone number blocked 100 percent of attacks by
    automated bots, 96 percent of bulk phishing attacks (send a general message to a wide group of victims), and 76 percent of targeted 
    attacks (the messages are customized to the victim). The figure for targeted attacks get better with other methods, such as on-device 
    prompts, and hardware keys.
  </p>
  <p>Another good defense is not using the same password across sites. A team of researchers out of Virginia Tech analyzed the passwords for nearly 30 million users and found that 52 percent had reused the password at least once.</p>
</div>
<div class="story-body">
  <p class="body-text"><em>Related: Who Do You Trust?</em>
  <p class="body-text">70 percent of responders on the Pew Research said they would consider doing business with a company over
    security and privacy concerns. That suggests that a company with a breach would find it harder to convince customers to come back, 
    except that doesn't seem to be the case. See how a <a href="trust-who.hbs">breach could impact a company's stock price.</a> 
  </p>
    <p class="note">All the data files, reports, and code used for analysis (Jupyter Notebook) can be found at the <a href="https://github.com/fr48/cyber">project's repository on GitHub</a>.</p>
</div>

<script src="scripts/scrollytelling.js"></script>
<link rel="stylesheet" type="text/css" href="styles/scrollytelling.css">