---
headline: "Trust After a Breach"
subhead: "People forgive companies for data breaches pretty quickly. While there is an initial drop in the company's stock price after 
a breach, prices in general rebound back to previous levels."
published_date: "December 14, 2019"
site: "https://fr48.github.io"
siteName: "The Lede"
url: "https://fr48.github.io/cyber/"
kicker: "cybersecurity"
author:
    name: "Fahmida Y Rashid"
    url: "https://github.com/fr48/"
    twitterHandle: "@fahmiwrite"
analytics": ""
---

{{!< default}}

<div class="story-body">
  <p class="body-text">For many people, a data breach is good enough reason to avoid that business for a while. Perhaps they worry about
    the way the organization handled user information, or how the attackers got in to the systems. In the Pew Research suvey, 70 percent
    of the respondents said they have refused to set up accounts at websites over security and privacy concerns. However, a look at 
    company stock prices suggest that consumers forgive companies for security incidents and data breaches pretty quickly. The NASDAQ 
    has been pretty steady over the past two years, so the fluctuations are not part of the market's natural downturns.
  </p>
  <div class="chart-section">
    <iframe title="Companies Are Forgiven Quickly" aria-label="Column Chart" id="datawrapper-chart-rRSmT" src="//datawrapper.dwcdn.net/rRSmT/3/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="500"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();</script>
  </div>

</div>

<div class="story-body">
    <p class="body-text"><em>Related: Return to the <a href="index.hbs">original page</a>.</em></p>
    <p class="note">All the data files and code used for analysis (Jupyter Notebook) can be found at the <a href="https://github.com/fr48/cyber">project's repository on GitHub</a>.</p>
</div>
