---
headline: "American's View of Cybersecurity"
subhead: "Analysis of how practice doesn't match awareness"
published_date: "December 1, 2019"
site: "http://www.littlecolumns.com"
siteName: "The Lede"
url: "http://littlecolumns.com/learn/d3-javascript-tooling/"
kicker: "wireframe"
author:
    name: "Fahmida Y Rashid"
    url: "http://jonathansoma.com/"
    twitterHandle: "@dangerscarf"
analytics": ""
---

{{!< default}}

<div class="story-body">
<p><em>Everything that is illustrator is responsive and ai2html</em></p>
<li>non-scrolly-interactive (d3?)</li>
<li>datawrapper</li></ul></p>
</div>
<div class="story-body">
  <h2>Outline</h2>
<p>People are pretty confident about whether they can distinguish phish.</p>

{{> frames/know-phishing }}

<p>However, they don't seem to know what forms phishing can take. (turn this into multiples)</p>

{{> frames/what-phish }}

<p>This is what happens when you don't know what's up. </p>

<p>* Calvin is having a bad day: [scrollytelling, d3?]</p>
<ul>
  <li>Get an email</li>
  <li>BEC</li>
  <li>malware infection</li>
  <li>phone call</li>
  <li><strong>stats in images, story in scroll</strong></li>
</ul>

<p>What people do after a breach</p>

  {{> frames/what-people-do }}


<p> point: the game </p>
</div>

