---
headline: "American's View of Cybersecurity"
subhead: "Analysis of how practice doesn't match awareness"
published_date: "December 1, 2019"
site: "https://fr48.github.io"
siteName: "The Lede"
url: "https://fr48.github.io/cyber/"
kicker: "wireframe"
author:
    name: "Fahmida Y Rashid"
    url: "https://github.com/fr48/"
    twitterHandle: "@fahmiwrite"
analytics": ""
---

{{!< default}}

<div class="story-body">
<p><em>Everything that is illustrator is responsive and ai2html</em></p>
<li>datawrapper</li></ul></p>
</div>
<div class="story-body">
  <h2>Outline</h2>
<p>People are pretty confident about whether they can distinguish phish.</p>

{{> frames/know-phishing }}

<p>However, they don't seem to know what forms phishing can take. (turn this into multiples, datawrapper)</p>

{{> frames/what-phish }}

<p>This is what happens when you don't know what can go wrong </p>

<p>* Calvin is having a bad day: [scrollytelling, d3?]</p>
<ul>
  <li>Get an email</li>
  <li>BEC</li>
  <li>malware infection</li>
  <li>phone call</li>
  <li><strong>stats in images, story in scroll</strong></li>
</ul>


<p>Do you trust the company or stop using them? 71 % claims that they wil think about whether they trust the company and not create an account with them</p>
<p>stock prices don't change: non-scrolly interactive, d3</p>

{{> frames/stock-prices }}

<p>What people do after a breach: non-scrolly interactive, d3</p>

  {{> frames/what-people-do }}


<p> point: the game </p>
</div>

<div class="story-body">
    <p class="note">All the data files and code used for analysis (Jupyter Notebook) can be found at the <a href="https://github.com/fr48/cyber">project's repository on GitHub</a>.</p>
</div>

